@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* COLORS */
  --surface: #FFFFFF;
  --surface-secondary: #EEEEEE;
  --surface-neutral: #404040;
  --neutral: #404040;
  --fill-primary: #585660;
  --fill-secondary: #F5F5F4;
  --fill-tertiary: #FFFFFF;
  --text-primary: #3B3B3B;
  --text-secondary: #737373;
  --text-on-fill: #FFFFFF;
  --stroke: #EFEDF3;
  --stroke-secondary: #3B3B3B;

  /* SIZES */
  --nav-height: 64px;
  --footer-height: 172px;

  /* FONTS */
  --font-archivo: "Archivo", sans-serif;

  /* FONT SIZE */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 20px;
  --font-size-3xl: 24px;
  --font-size-4xl: 36px;
  --font-size-5xl: 40px;
  --font-size-6xl: 48px;
  --font-size-7xl: 56px;

  /* RADIUS */
  --border-radius-common: 8px;

  /* SPACING */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;

}

