@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* COLORS */
  --surface: #FFFFFF;
  --surface-secondary: #EEEEEE;
  --surface-neutral: #404040;
  --neutral: #404040;
  --fill-primary: #585660;
  --text-primary: #3B3B3B;
  --text-secondary: #737373;
  --text-on-fill: #FFFFFF;
  --stroke: #EFEDF3;
  --stroke-secondary: #8F8F8F;
  --fill-secondary: #F5F5F4;

  /* SIZES */
  --nav-height: 64px;
  --footer-height: 172px;
}

